<section class="pb-4 overwrite overflow-hidden">
  <h2 class="d-flex align-items-center flex-column pt-3 text-center">Shirts</h2>
  <ul class="d-flex justify-content-around pt-3 flex-wrap position-relative">
    <button class="position-absolute but-size top-50 start-0 ms-1">
      <img class="but-size pe-3" src="assets/angle-left.png">
    </button>
    <img class="w-25 px-1" src="assets/AdidasBrown.png" alt="Adidas-Brown-shirt">
    <img class="w-25 px-1" src="assets/AdidasWhite.png" alt="Adidas-White-shirt">
    <img class="w-25 px-1" src="assets/AngelsWhite.png" alt="Angels-White-shirt">
    <!-- <img class="w-25 px-1" src="assets/AngelsBlack.png" alt="Angels-White-shirt"> -->
    <button class="position-absolute but-size top-50 end-0 right">
      <img class="but-size pe-3" src="assets/angle-left.png">
    </button>
  </ul>

</section>
