<section class="flex justify-content-center flex-wrap">
  <div class="flex flex-column justify-content-center flex-wrap px-2" style="max-width: 50rem;">
    <h1 class="flex align-items-center justify-content-center pt-3">Delivery Policy</h1>
    <p class="line-height-3 text-lg py-3">
      Shipments are processed Monday through Friday only. After your payment is verified,
      it may take up to 24 hours to process and ship your order. This does not include weekends or holidays.
      If you require Overnight or Next Day delivery, please note that we must receive your order by 12 p.m. CET.
    </p>
    <p class="line-height-3 text-lg py-3">
      Upon delivery, if there is a problem with your order, please contact us immediately.
    </p>
    <p class="line-height-3 text-lg py-3">
      Criply is not responsible for lost or stolen packages.
    </p>
    <ul class="pl-5 pb-2">
      <li>Processing time: 1 - 2 days</li>
      <li>Not all orders will have the option : Track your order</li>
      <li>Please refer to the product page for accurate delivery time</li>
    </ul>
  </div>
</section>
