* {
  font-family: 'Courier New', Courier, monospace;
}


.container-1{
  border: 1rem dashed aqua;

}

.child-2{
  border: 1rem dashed blue;
}

.child-3{
  border: 1rem dashed green;
}

.child-4{
  border: 1rem dashed yellow;
}
