<!-- <head>
  <link id="app-theme" rel="stylesheet" type="text/css" href="../../node_modules/primeng/resources/themes/bootstrap4-dark-purple/theme.css">
</head> -->

<p-menubar [model]="items" [autoDisplay]="true">
  <ng-template pTemplate="start">
    <div class="flex justify-content-between">
      <img src="assets/profile.png" height="50" style="border-radius: 50%;">
      <h1 class="mx-1 my-auto">CRIPLY</h1>
    </div>
  </ng-template>
  <ng-template pTemplate="end">
    <a routerLink="user-signup">Sign Up</a>
  </ng-template>
</p-menubar>
<router-outlet></router-outlet>
<cr-endfile></cr-endfile>