<section class="m-5 flex justify-content-center">
  <div class="flex flex-column ">
    <span class="p-float-label my-3">
      <input id="float-input" type="text" pInputText [(ngModel)]="value2">
      <label for="float-input">Email</label>
    </span>
    <span class="p-float-label my-3">
      <input id="float-input" type="text" pInputText [(ngModel)]="value2">
      <label for="float-input">Username</label>
    </span>
    <span class="p-float-label my-3">
      <input id="float-input" type="text" pInputText [(ngModel)]="value2">
      <label for="float-input">Password</label>
    </span>
    <span class="p-float-label my-3">
      <input id="float-input" type="text" pInputText [(ngModel)]="value2">
      <label for="float-input">Confirm Password</label>
    </span>
    <button pButton pRipple type="button" label="Sign Up" class="p-button-outlined"></button>
    <p class="text-xs my-2">Already have an account? <a routerLink='/user-login'>Sign in</a></p>
  </div>
</section>