<section class="surface-300 p-4">
  <div class="flex justify-content-around flex-wrap pt-2">
      <!-- LEGAL -->
    <div class="flex align-items-start justify-content-center flex-column flex-shrink-0" style="max-width: 10rem; max-height: fit-content;">
      <h3 class="pb-2">LEGAL</h3>
      <a class="text-900 py-1" [routerLink]="['/terms-and-service']">Terms and Service</a>
      <a class="text-900 py-1" [routerLink]="['/privacy-and-policy']">Privace and Policy</a>
      <a class="text-900 py-1" [routerLink]="['/returns-and-refunds-policy']">Returns & Refunds Policy</a>
      <a class="text-900 py-1" [routerLink]="['/delivery-policy']">Delivery Policy</a>
    </div>
    <!-- LINKS -->
    <div class="flex align-items-start justify-content-center flex-column flex-shrink-0">
      <h3 class="pb-2">LINKS</h3>
      <a class="text-900 py-1" [routerLink]="['/about-us']">About Us</a>
      <a class="text-900 py-1" [routerLink]="['/contact-us']">Contact Us</a>
    </div>
    <!-- FOLLOW US -->
    <div class="flex align-items-start justify-content-center flex-column flex-shrink-0">
      <h3 class="pb-2">FOLLOW US</h3>
      <a class="text-900 py-1" href="https://www.instagram.com/criplylb/">Instagram</a>
    </div>
    <!-- WE ACCEPT -->
    <div class="flex align-items-start justify-content-center flex-column flex-shrink-0">
      <h3 class="pb-2">WE ACCEPT</h3>
      <p class="text-900 py-1">CASH</p>
    </div>
  </div>
</section>
